@charset "utf-8";@import url(http://fonts.googleapis.com/css?family=Tauri);
/*PERSONALIZAÇÃO DAS PAGINAS EM CSS3  *******************************************************************************//********************************************************************************************************************/
a{color:#555; text-decoration: none;}
a:hover{color:#f00; text-decoration: underline;}

.tabelas-consulta{
margin: auto;
width: 100%;
border-collapse: collapse;
}
.tabelas-cadastro{
margin: auto;
width: 100%;
border-collapse: collapse;
background: #069;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#55aacc', GradientType=0);
background: -webkit-linear-gradient(top, #069 0%,#5ac 100%);
background: -moz-linear-gradient(top, #069 0%,#5ac 100%);
background: -o-linear-gradient(top, #069 0%,#5ac 100%);	
background: -ms-linear-gradient(top, #069 0%,#5ac 100%);
background: linear-gradient(top, #069 0%,#5ac 100%);
}

.bt-consultar-dados-gerais{	
background: #006699;	
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);	
background: -webkit-linear-gradient(top, #fff 0%,#ccc 100%);	
background: -moz-linear-gradient(top, #fff 0%,#ccc 100%);	
background: -o-linear-gradient(top, #fff 0%,#ccc 100%);	
background: -ms-linear-gradient(top, #fff 0%,#ccc 100%);	
background: linear-gradient(top, #fff 0%,#ccc 100%);		
border-radius: 10px;	
color: #069;	
font-family: Arial;	
height: 30px;	
float: right;	
font-weight: bold;	
font-size: 15px;	
margin: auto;	
width: 100%;
}
.bt-consultar-dados-geraisOver{	
background: #8dcff5;	
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);	
background: -webkit-linear-gradient(top, #ccc 0%,#fff 100%);	
background: -moz-linear-gradient(top, #ccc 0%,#fff 100%);	
background: -o-linear-gradient(top, #ccc 0%,#fff 100%);	
background: -ms-linear-gradient(top, #ccc 0%,#fff 100%);	
background: linear-gradient(top, #ccc 0%,#fff 100%);	
border-radius: 10px;	
color: #5ac;	
font-family: Arial;	
height: 30px;	
float: right;	
font-weight: bold;	
font-size: 15px;	
margin: auto;	
width: 100%;
}
.bt-salvar{	
	background: #8dcff5;	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);	
	background: -webkit-linear-gradient(top, #fff 0%,#ccc 100%);	
	background: -moz-linear-gradient(top, #fff 0%,#ccc 100%);	
	background: -o-linear-gradient(top, #fff 0%,#ccc 100%);	
	background: -ms-linear-gradient(top, #fff 0%,#ccc 100%);
	background: linear-gradient(top, #fff 0%,#ccc 100%);
	border-radius: 10px;
	color: #555;
	font-family: Arial;	
	height: 50px;
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;	
	width: 100px;
}
.bt-salvarOver{
	background: #8dcff5;	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);	
	background: -webkit-linear-gradient(top, #ccc 0%,#fff 100%);
	background: -moz-linear-gradient(top, #ccc 0%,#fff 100%);
	background: -o-linear-gradient(top, #ccc 0%,#fff 100%);	
	background: -ms-linear-gradient(top, #ccc 0%,#fff 100%);
	background: linear-gradient(top, #ccc 0%,#fff 100%);
	border-radius: 10px;
	color: #f00;
	font-family: Arial, Helvetica, sans-serif;
	height: 50px;
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;
	width: 100px;
}
.bt-limpar{
background: #8dcff5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);	
background: -webkit-linear-gradient(top, #fff 0%,#ccc 100%);
background: -moz-linear-gradient(top, #fff 0%,#ccc 100%);
background: -o-linear-gradient(top, #fff 0%,#ccc 100%);
background: -ms-linear-gradient(top, #fff 0%,#ccc 100%);
background: linear-gradient(top, #fff 0%,#ccc 100%);
border-radius: 10px;
color: #555;
font-family: Arial;	
height: 50px;
float: right;
font-weight: bold;
font-size: 15px;
margin-right: 10px;	
width: 100px;
}
.bt-limparOver{
background: #8dcff5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);	
background: -webkit-linear-gradient(top, #ccc 0%,#fff 100%);
background: -moz-linear-gradient(top, #ccc 0%,#fff 100%);
background: -o-linear-gradient(top, #ccc 0%,#fff 100%);	
background: -ms-linear-gradient(top, #ccc 0%,#fff 100%);
background: linear-gradient(top, #ccc 0%,#fff 100%);
border-radius: 10px;
color: #f00;
font-family: Arial, Helvetica, sans-serif;
height: 50px;
float: right;
font-weight: bold;	
font-size: 15px;
margin-right: 10px;	
width: 100px;
}
.bt-alterar{
background: #8dcff5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);
background: -webkit-linear-gradient(top, #fff 0%,#ccc 100%);
background: -moz-linear-gradient(top, #fff 0%,#ccc 100%);
background: -o-linear-gradient(top, #fff 0%,#ccc 100%);	
background: -ms-linear-gradient(top, #fff 0%,#ccc 100%);
background: linear-gradient(top, #fff 0%,#ccc 100%);
border-radius: 10px;
color: #555;
font-family: Arial;	
height: 50px;	
float: right;
font-weight: bold;
font-size: 15px;
margin-right: 10px;	
width: 100px;
}
.bt-alterarOver{
background: #8dcff5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);	
background: -webkit-linear-gradient(top, #ccc 0%,#fff 100%);
background: -moz-linear-gradient(top, #ccc 0%,#fff 100%);
background: -o-linear-gradient(top, #ccc 0%,#fff 100%);	
background: -ms-linear-gradient(top, #ccc 0%,#fff 100%);
background: linear-gradient(top, #ccc 0%,#fff 100%);
border-radius: 10px;	
color: #f00;
font-family: Arial;	
height: 50px;	
float: right;	
font-weight: bold;	
font-size: 15px;	
margin-right: 10px;	
width: 100px;
}
.bt-restaurar{
background: #8dcff5;	
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);	
background: -webkit-linear-gradient(top, #fff 0%,#ccc 100%);
background: -moz-linear-gradient(top, #fff 0%,#ccc 100%);
background: -o-linear-gradient(top, #fff 0%,#ccc 100%);	
background: -ms-linear-gradient(top, #fff 0%,#ccc 100%);
background: linear-gradient(top, #fff 0%,#ccc 100%);
border-radius: 10px;
color: #555;
font-family: Arial;	
height: 50px;
float: right;
font-weight: bold;
font-size: 15px;
margin-right: 10px;	
width: 100px;
}
.bt-restaurarOver{
background: #8dcff5;	
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);	
background: -webkit-linear-gradient(top, #ccc 0%,#fff 100%);
background: -moz-linear-gradient(top, #ccc 0%,#fff 100%);
background: -o-linear-gradient(top, #ccc 0%,#fff 100%);	
background: -ms-linear-gradient(top, #ccc 0%,#fff 100%);
background: linear-gradient(top, #ccc 0%,#fff 100%);
border-radius: 10px;
color: #f00;
font-family: Arial;	
height: 50px;	
float: right;
font-weight: bold;	
font-size: 15px;	
margin-right: 10px;	
width: 100px;
}
.bt-login{
background: #ffffff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);	
background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 100%);	
background: -moz-linear-gradient(top, #ffffff 0%,#cccccc 100%);	
background: -o-linear-gradient(top, #ffffff 0%,#cccccc 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%);
background: linear-gradient(top, #ffffff 0%,#cccccc 100%);	
border-radius: 10px;
color: #555555;	
font-family: Arial;	
height: 75px;
font-weight: bold;
font-size: 15px;
margin: 25px 15px 15px 15px;
width: 75px;
position: relative;	
top: 7px;
}
.bt-loginOver{
background: #cccccc;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc ', endColorstr='#ffffff ', GradientType=0);	
background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff  100%);	
background: -moz-linear-gradient(top, #cccccc 0%,#ffffff  100%);
background: -o-linear-gradient(top, #cccccc 0%,#ffffff  100%);
background: -ms-linear-gradient(top, #cccccc 0%,#ffffff  100%);	
background: linear-gradient(top, #cccccc 0%,#ffffff  100%);	
border-radius: 10px;	
color: #ff0000;	
font-family: Arial;	
height: 75px;	
font-weight: bold;	
font-size: 15px;	
margin: 25px 15px 15px 15px;
width: 75px;
position: relative;	
top: 7px;
}


.titulo-tabelas{
background: #8dcff5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#006699', GradientType=0);	
background: -webkit-linear-gradient(top, #fff 0%,#069 135%);
background: -moz-linear-gradient(top, #fff 0%,#069 135%);
background: -o-linear-gradient(top, #fff 0%,#069 135%);	
background: -ms-linear-gradient(top, #fff 0%,#069 135%);
background: linear-gradient(top, #fff 0%,#069 135%);
font-family: Arial;	
font-weight: bold;	
padding: 10px;	
text-align: center;	
color: #069;
}

.dadostabelas{
background: #e9e9e9;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e9e9e9', GradientType=0);	
background: -webkit-linear-gradient(top, #fafafa  0%,#e9e9e9 100%);	
background: -moz-linear-gradient(top, #fafafa  0%,#e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa  0%,#e9e9e9 100%);	
background: -ms-linear-gradient(top, #fafafa  0%,#e9e9e9 100%);	
background: linear-gradient(top, #fafafa  0%,#e9e9e9 100%);	
font-family: Arial;	
font-size: 14px;
padding: 4px;
text-align: center;
}
.dadostabelasOver{
background: #e9e9e9;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc', endColorstr='#ffffee', GradientType=0);	
background: -webkit-linear-gradient(top, #ffc 0%,#ffe 100%);	
background: -moz-linear-gradient(top, #ffc 0%,#ffe 100%);	
background: -o-linear-gradient(top, #ffc 0%,#ffe 100%);	
background: -ms-linear-gradient(top, #ffc 0%,#ffe 100%);	
background: linear-gradient(top, #ffc 0%,#ffe 100%);	
font-family: Arial;	
font-size: 14px;	
padding: 4px;	
text-align: center;
}
.dadostabelasOver2{	
background: #e9e9e9;	
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffee', endColorstr='#ffffcc', GradientType=0);	
background: -webkit-linear-gradient(top, #ffe 0%,#ffc 100%);
background: -moz-linear-gradient(top, #ffe 0%,#ffc 100%);
background: -o-linear-gradient(top, #ffe 0%,#ffc 100%);	
background: -ms-linear-gradient(top, #ffe 0%,#ffc 100%);
background: linear-gradient(top, #ffe 0%,#ffc 100%);
font-family: Arial;	
font-size: 14px;
padding: 4px;
text-align: center;
}

.rodape-tabelas{
background: #ccc;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#cccccc', GradientType=0);	
background: -webkit-linear-gradient(top, #bbb 0%,#ccc 100%);
background: -moz-linear-gradient(top, #bbb 0%,#ccc 100%);
background: -o-linear-gradient(top, #bbb 0%,#ccc 100%);	
background: -ms-linear-gradient(top, #bbb 0%,#ccc 100%);
background: linear-gradient(top, #bbb 0%,#ccc 100%);
padding: 10px;
}
.titulo-fielset{
color: #fff;
border-radius: 5px;	
background: #069;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#55aacc', GradientType=0);	
background: -webkit-linear-gradient(top, #069 0%,#5ac 100%);
background: -moz-linear-gradient(top, #069 0%,#5ac 100%);	
background: -o-linear-gradient(top, #069 0%,#5ac 100%);	
background: -ms-linear-gradient(top, #069 0%,#5ac 100%);	
background: linear-gradient(top, #069 0%,#5ac 100%);
}
.conteudo-fielset{
color: #069;
background: #acd;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaccdd', endColorstr='#ffffff', GradientType=0);	
background: -webkit-linear-gradient(top, #acd 0%,#fff 100%);
background: -moz-linear-gradient(top, #acd 0%,#fff 100%);
background: -o-linear-gradient(top, #acd 0%,#fff 100%);	
background: -ms-linear-gradient(top, #acd 0%,#fff 100%);
background: linear-gradient(top, #acd 0%,#fff 100%);
border: 0px;
border-radius: 5px;
}
.logo{
position: relative;
}
.sub-logo{
width: 100%;
}
.tabela-cabecalho{
width: 100%;
border: 0px solid;
}
.tabela-rodape{
width: 100%;
}
.tabela-nevegacao{
margin-bottom: 10px;
width: 100%;
}
.tabela-dados-visualizar{
border-bottom: #ccc 1px solid;	
background:#fff;
}
.tabela-dados-labels{
border-bottom: #ccc 1px solid;	
background:#fff;
color: #069;
font-weight;bold;
}
.login-table{
margin: auto;
width: 20%;	
border-collapse: collapse;	
border: 0px solid #069; 
background:#ffffff;	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff ', endColorstr='#ddddff ', GradientType=0);	
background: -webkit-linear-gradient(top, #ffffff 0%,#ddddff  100%);	
background: -moz-linear-gradient(top, #ffffff 0%,#ddddff  100%);
background: -o-linear-gradient(top, #ffffff 0%,#ddddff  100%);	
background: -ms-linear-gradient(top, #ffffff 0%,#ddddff  100%);	
background: linear-gradient(top, #ffffff 0%,#ddddff  100%);	
border-radius: 20px;
margin-top: 200px;	
-webkit-box-shadow:  2px 2px 2px 2px rgba(100, 100, 100, 0.5);	
box-shadow:  2px 2px 2px 2px rgba(100, 100, 100, 0.5);	
}
.login-labels{
text-transform:capitalize;	
/*color:#006699;	*/
font-weight:bold;	
margin-left: 15px;
}
.login-inputs{
/*color:#006699;*/
margin-left: 15px;
background:#ffffff;	
-moz-opacity: 1;
opacity: 1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.login-body{
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#006699', GradientType=0);	
background: -webkit-linear-gradient(top, #ffffff 0%,#006699 0%);
background: -moz-linear-gradient(top, #ffffff 0%,#006699 0%);
background: -o-linear-gradient(top, #ffffff 0%,#006699 0%);	
background: -ms-linear-gradient(top, #ffffff 0%,#006699 0%);
background: linear-gradient(top, #ffffff 0%,#006699 0%);*/
}
.login-frase{
text-align:center;
color:#006699;
font-size: 15px;
}
.login-linha{
width: 320px;
}
.menu-top-index{
	margin-top: 50px;
	position: relative;
	top: 55px;
}

#corpo-tabela{
margin:0 auto;
padding:0;
width:100%;
/*background:#f4f4f4;*/
}
/*PERSONALIZAÇÃO DAS PAGINAS EM CSS3  *******************************************************************************//********************************************************************************************************************/


.labels-l{ font-size: 12px; font-weight: bold; color: #555; text-align:left;}
.labels-r{ font-size: 12px; font-weight: bold; color: #555; text-align:right;}
.dados-l{ font-size: 12px; color: #555; text-align:left;}
.dados-r{ font-size: 12px; color: #555; text-align:right;}
.tdMsg{ padding: 5px; }

#div-obrigado{margin:auto; width:100%;}
#div-obrigado-bloco{margin: auto; width: 95%; background: #efe; border-radius: 5px; border: 2px solid #797; height: 50px;}
#div-obrigado-imagem{float:left; margin:8px 0 0 10px;}
#div-obrigado-mensagem{float:left; margin:16px 8px 8px 8px; color:#080;  font-weight:bold; font-family:Arial; font-size:16px;}